# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables / secrets
.env

# Hugging Face / local model
local_model/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db